.login-logo {
  height:50px;
  width: auto;
  margin-top:0px;
}

.home-logo {
  height:200px;
  width:auto;
}

.center_div {
  margin:0 auto;
  width:40%;
}

.navbar{
  background-color: #ffff00;
}

.go-bananas {
  height:300px;
  width:auto;
}