.login-logo {
  height:50px;
  width: auto;
  margin-top:0px;
}

.home-logo {
  height:200px;
  width:auto;
}

.center_div {
  margin:0 auto;
  width:40%
}

.navbar{
  background-color: #ffff00;
  margin-bottom:0;
}

.go-bananas {
  height:300px;
  width:auto;
}
.gorilla {
  text-align: center;
}

.nav-bar li {
  padding: 10px;
}

.nav-bar a {
  color: black;
}

/*.bottom {
  height: 60px;
  width: 100%;
  bottom: 0;
  background-color: #E8E8E8;
  position: absolute;
  text-align: center;
}*/

.form-labels {
  padding:10px;
}

.logout-color {
  background-color: #663300;
}

.background-layout {
  position:absolute;
  z-index: -10;
  width:100%;
  height:auto;
}

body {
  color:#663300;
}