.login-logo {
  height:50px;
  width: auto;
  margin-top:0px;
}

.gorilla {
  text-align: center;
}

.nav-bar li {
  padding: 10px;
}

.nav-bar a {
  color: black;
}

.bottom {
  height: 60px;
  width: 100%;
  bottom: 0;
  background-color: #E8E8E8;
  position: absolute;
  text-align: center;
}

.form-labels {
  padding:10px;
}

