<div id="container">
  <header class="gorilla">
  <h1>Welcome to Gorilla, <%= @user.username %>!</h1>
  </header>
  <nav class="nav-bar">
    <div>
      <ul>
        <li><a href="/surveys/new">Create a new survey</a></li>
      <li><a href="/surveys">Show all existing survey</a></li>
      </ul>
    </div>
  </nav>

  <footer class="bottom">

  <p>your links here</p>
  </footer>
</div>


