
<h1>Welcome to Gorilla, <%= @user.username %>!</h1>

<nav class="nav-bar">
  <ul>
    <li><a href="/surveys/new">Create a new survey</a></li>
    <li><a href="/surveys">Show all existing survey</a></li>
    <li>
    </li>
  </ul>
</div>

