<header>
<h1>All Author List</h1>
</header>

<section>
  <ul>
    <% @survey.each do |survey|%>
      <li><a href =<%= "surveys/#{survey.id}" %>><%=survey.survey_name%></a>
    <%end%>
  </ul>
</section>

