<header>
<h1>All Survey List</h1>
</header>

<section>
<ul>
<% @surveys.each do |each| %>

<li>Author:<%=User.where(id: each.user_id).pluck(:username)%>---
Survey Name:<%= each.survey_name %></li>
<% end %>
</ul>
</section>

