<header>
<h1>All Author List</h1>
</header>


<section>
  <ul>
    <% @users.each do |author|%>
      <li><a href =<%= "surveys/#{author.id}" %>><%=author.username%></a>
    <%end%>
  </ul>
</section>


