<img class="go-bananas" src='/imgs/go-bananas.png'>
<div class="container">
  <header class="gorilla">
  <h1><label>Create a new survey!!</label></h1>
  </header>
  <nav class="nav-bar">
    <div class="form">
      <form action="/surveys" method="POST">
          <label for="survey_name">Survey name: </label><br>
          <input type="text" name="survey_name"><br>
          <label for="question_name">Question: </label><br>
          <input type="text" name="question_name"><br>
        <fieldset id="choice_group">
         A: <input type="text" name="choice_name">
        </fieldset><br>
        <input type="submit" value="submit">
      </form>
    </div>
  </nav>
</div>
<footer class="bottom">

<p>your links here</p>
</footer>
