
<div class='container'>
  <h2 class='username'><%=@user.username%> </h2>
  <h1 class='survey-name'><%=@survey.survey_name%></h1>
  <h3 class='question-name'><%=@question.question_name%></h3>
  <p class='choice-name'><%=@choice.choice_name%></p>
</div>

